*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

.row{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.row-100{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-column{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.row-column-100{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.custom-font{
    font-family: 'playfair display', serif;
}

header {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 60px;
    background-image: url('https://i.postimg.cc/BZrxZ9G8/banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.banner-heading{
    font-size: 6rem;
    font-style: italic;
    padding: 0 2rem;
}
.banner-text{
    font-size: 0.9rem;
    font-weight: normal;
    background-color: #fff;
    color: black;
    padding: 30px;
}
.annon-section{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #d9b1b3;
    color: white;
}

.annon{
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 15px;
}

.annon span{
    font-size: 6rem;
    line-height: 0;
}

.annon-section p{
    width: 50%;
    font-size: 0.8rem;
    text-align: justify;
}

.gallery .image-container{
    height: 550px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery .gallery-img-1{
    background-image: url("https://i.postimg.cc/GpXFb4cr/gallery-1.jpg");
}
.gallery .gallery-img-2{
    background-image: url("https://i.postimg.cc/1t4pXytF/gallery-2.jpg");
}
.gallery .gallery-img-3{
    background-image: url("https://i.postimg.cc/50G8FDYR/gallery-3.jpg");
}
.gallery .gallery-img-4{
    background-image: url("https://i.postimg.cc/g0zy9VbN/gallery-4.jpg");
}
.gallery .gallery-img-5{
    background-image: url("https://i.postimg.cc/59YBM9Dd/gallery-5.jpg");
}
.gallery .gallery-img-6{
    background-image: url("https://i.postimg.cc/FzL3bG0s/gallery-6.jpg");
}

.coming-soon{
    background-color: #d9b1b3;
    padding: 50px 0;
    color: white;
}
.coming-soon .row-column-100{
    justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form
{
   text-align:center;
}

.coming-soon .coming-soon-heading{
    font-size: 4rem;
    font-style: italic;
}

.coming-soon .coming-soon-text{
    font-size: 1.3rem;
}

.coming-soon .coming-soon-form{
    margin-top: 35px;
}

.coming-soon-form .row-100{
    justify-content: center;
}

.coming-soon-form .input-container{
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

.input-container .text-input,
.input-container .form-btn{
    padding: 12px 10px;
    border: unset;
    border-radius: 20px;
}

.input-container .form-btn{
    background-color:black;
    color: white;
}
.article{
    width: 50%;
    display: flex;
    justify-content: center;
   
}

.row-100 .article-img{
    height: 550px;
    display: flex;
    justify-content: center;
    padding-top: 30px ; 
    padding-left: 200px; 
    padding-bottom: 30px;
}

.article .article-text{
    padding: 50px 100px;
    margin: auto;
    font-size: 1rem;
    text-align: justify;
}
.signature{
    height: 5px;
}

.spring-collection{
    background-color: #d9b1b3;
    overflow: hidden;
    margin: 40px 0;
}
.spring-collection .spring-text{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4.5rem;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 20px;

}

.spring-collection .row-100{
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-grow: 1;
    padding: 0 5px;
    margin: 0px 20px;
}
.arrow-right{
    display: flex;
    justify-content: center;
}

.sample-product{
    width: 50%;
    display: flex;
    margin: auto;
}

.sample-product .row-100{
    height: 350px;
    gap: 2%;
    flex-grow: 1;
    
}
.sample-product .sample-p h6{
    font-size: 2rem;
    font-weight: 100;
    margin: 15px;
}
.sample-product .sample-p span{
    font-size: 2rem;
    margin: 20px;
}
.sample-product .sample-p p{
    font-size: 0.9rem;
    margin: 20px;
}
.sample-product .sample-p button{
    padding: 17px 60px;
    border: unset;
    border-radius: 20px;
    margin: 10px 0;
    background-color:black;
    color: white;
    font-size: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.footimage{
    background-image: url("https://i.postimg.cc/DZtbzsRV/subscribe.jpg");
    flex: 0.5;
}
.footimage img{
    width: 100%;
    height: 450px;
}
.underline{
    border-bottom: 4px solid pink;
    width: 90%;
    margin-top: 70px;
}
.sub{
    margin: 0px 20px;
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.capt{
    font-size: 3rem;
    font-weight:bold;
    font-style: italic;
    margin: 10px;
    text-align: center;
}
.footform{
    text-align: center;
    margin: 20px 20px 0px 20px;
    padding: 1.5rem;
}
.footinput{
    width: 45%; 
    padding: .5rem;    
    outline: none;
  }
  .footform button {
    color: white;
    padding: .5rem;
    border: none;
    cursor: pointer;
    background: black;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    font-size: .8rem;
    font-style: normal;
    margin: 10px ;
  }
  .capText{
      text-align: center;
      width: 60%;
      margin-bottom: 10px;
  }
  .fab{
      font-size: 30px;
  }
  .fas{
    font-size: 30px;
    color:white; 
  }
